# Dependencies
node_modules/

# Env & secrets
.env
.env.local
.env.*.local
*.pem

# Build & cache
dist/
build/
.cache/
*.log
.DS_Store

# Editor
.idea/
.vscode/*
!.vscode/extensions.json

# Vite
*.local
